[submodule "Worlds/Sponza"]
	path = Worlds/Sponza
	url = git@github.com:johnlogostini/NVGWGD_Sponza.git
[submodule "Worlds/Kitchen"]
	path = Worlds/Kitchen
	url = git@github.com:johnlogostini/NVGWGD_Kitchen.git
[submodule "Characters"]
	path = Characters
	url = git@github.com:johnlogostini/NVGWGD_Characters.git
[submodule "Worlds/Zorah"]
	path = Worlds/Zorah
	url = git@github.com:johnlogostini/NVGWGD_Zorah.git
